.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;

  padding: 1rem;
}

.product-list {
  width: calc(240px * 2 + 1rem);

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;

  list-style: none;

  @media(min-width: 1024px) {
    width: calc(240px * 4 + 3rem);
    grid-template-columns: repeat(4, 1fr);
  }
}
