.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;

  padding: 1rem;
}

.product-container {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
