.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  min-width: 8rem;
  padding: 0.5rem 1rem;

  color: #FFFFFF;
  background-color: #001188;

  border-style: none;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.button:hover {
  background-color: #0044bb;
}
