body {
  font-family: Helvetica;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  height: calc(100vh - 4rem);

  margin: auto;
  padding: 0 1rem;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  @media(min-width: 1024px) {
    align-items: center;
  }
}

#hero-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  gap: 2rem;

  @media(min-width: 1024px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

button {
  display: inline-block;
  cursor: pointer;

  width: 8rem;
  height: 3rem;

  color: #FFFFFF;
  background-color: #001188;

  border-style: none;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
}

button:hover {
  background-color: #0044bb;
}
