.container {
  height: 4rem;
  padding: 0 1rem;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  font-weight: bold;
  color: #ffffff;
  background-color: #001188;
}

.link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;

  font-size: 1.25rem;
}
